modules/venv/
modules/.idea/
modules/application/
modules/.idea/
modules/.venv/
regular/old.py
regular/.venv/
web_scraping/.venv/
iterators_generators/.venv_it/
decorators/.decvenv/
tests/config.py
tests/.vest